.myNav {
  margin-bottom: 14px;
  padding-top: 20px;
  /* background-color: #ff6d6d; */
  background-color: #1c8cdb;
}

.myHeader {
  margin-bottom: 0 !important;
}

.myLink {
  color: black;
}

.myLink:hover {
  color: black;
}

.mySubHeader {
  margin-top: 0 !important;
}
