.myNav {
  padding: 20px 0;
  /* background-color: #ff6d6d; */
  background-color: #1c8cdb;
}

.Nav__Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav__Heading__Main {
  font-size: 2em;
  text-shadow: -1px -1px 0 rgba(1, 1, 1, 0.2), 1px -1px 0 rgba(1, 1, 1, 0.2),
    -1px 1px 0 rgba(1, 1, 1, 0.2), 1px 1px 0 rgba(1, 1, 1, 0.2);
}

.Nav__Heading__Secondary {
  font-size: 1.2em;
  text-shadow: -1px -1px 0 rgba(1, 1, 1, 0.2), 1px -1px 0 rgba(1, 1, 1, 0.2),
    -1px 1px 0 rgba(1, 1, 1, 0.2), 1px 1px 0 rgba(1, 1, 1, 0.2);
}

.Nav__Menu__Container {
  width: 450px;
}

.Nav__Menu {
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
}

.myLink {
  color: white;
}

.myLink:hover {
  color: white;
}

@media (max-width: 768px) {
  .Nav__Menu__Container {
    width: 300px;
  }
}

@media (max-width: 550px) {
  .Nav__Container {
    flex-direction: column;
  }

  .Nav__Menu__Container {
    margin-top: 20px;
    width: 100%;
  }
}
