.SlidingPuzzle__Body {
  padding: 30px 0;
}

.SlidingPuzzle__Buttons {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SlidingPuzzle__Buttons div {
  margin-right: 10px !important;
}

.SlidingPuzzle__Options {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#puzzle {
  padding: 1px;
  margin: 50px auto;
  background-color: black;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
}

#empty {
  background-color: black;
}

.tile {
  margin: 2px;
}

@media (max-width: 650px) {
  #puzzle {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 550px) {
  .SlidingPuzzle__Options {
    flex-direction: column;
  }

  .SlidingPuzzle__Timer {
    margin: 10px 0;
  }

  #puzzle {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 450px) {
  #puzzle {
    width: 300px;
    height: 300px;
  }
}
