.Portfolio__Header {
  height: 600px;
  background-image: url("../../Img/floridablurred.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -150px;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.Portfolio__Heading__Main {
  margin: 0;
  font-size: 5em;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Portfolio__Heading__Secondary {
  font-size: 2.5em;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Portfolio__Body {
  margin: 20px 0;
  height: 1000px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.Portfolio__Project {
  margin: 5px;
  border: 1px solid rgba(1, 1, 1, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.Project__Reveal {
  width: 100%;
  height: 100%;
}

.visible__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.hidden__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.Project1 {
  grid-column: span 2;
}

.Project1__Visible {
  background-image: url("../../Img/RunningMan.jpeg");
  background-size: cover;
}

.Project1__Hidden {
  background-color: rgb(113, 29, 26);
}

.Project2__Visible {
  background-image: url("../../Img/tower.jpg");
  background-size: cover;
}

.Project2__Hidden {
  background-color: rgb(232, 106, 33);
}

.Project3 {
  grid-row: span 2;
}

.Project3__Visible {
  background-image: url("../../Img/LambdaNotesBlurred.jpg");
  background-size: stretch;
  background-position-x: 60%;
  color: cornflowerblue;
  font-weight: bold;
}

.Project3__Hidden {
  background-color: cornflowerblue;
}

.Project4 {
  grid-column: span 2;
}

.Project4__Visible {
  background-image: url("../../Img/lake.jpg");
  background-size: cover;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Project4__Hidden {
  background-color: goldenrod;
}

.Project5__Visible {
  background-image: url("../../Img/sunset.jpg");
  background-size: cover;
}

.Project5__Hidden {
  background-color: olive;
}

.Project6__Visible {
  background-image: url("../../Img/climbToTop.png");
  background-size: cover;
}

.Project6__Hidden {
  background-color: indianred;
}

.noPointerEvents {
  pointer-events: none;
}

@media (max-width: 991px) {
  .Portfolio__Body {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .Project3 .Project__BtnGroup {
    display: flex;
    flex-direction: column;
  }

  .Project4 {
    grid-column: span 1;
  }

  .Project5 {
    grid-column: span 2;
  }

  .Project6 {
    display: none;
  }
}

@media (max-width: 450px) {
  .Portfolio__Header {
    background-attachment: scroll;
    background-position: center;
  }

  .Portfolio__Body {
    grid-template-columns: 100%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    height: 1800px;
  }

  .Project3 .Project__BtnGroup {
    flex-direction: row;
  }

  .Portfolio__Project {
    grid-column: span 1;
    grid-row: span 1;
  }

  .Project6 {
    display: initial;
  }
}
