.Portfolio__Header {
  height: 600px;
  background-image: url("../../Img/floridablurred.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: -150px;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.Portfolio__Heading__Main {
  margin: 0;
  font-size: 5em;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Portfolio__Heading__Secondary {
  font-size: 2.5em;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.Portfolio__Body {
  margin: 20px 0;
  height: 1000px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.Portfolio__Project {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.Project__Reveal {
  width: 100%;
  height: 100%;
}

.visible__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.hidden__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.Project1 {
  grid-column: span 2;
}

.Project1__Visible {
  background-image: url("../../Img/RunningMan.jpeg");
  background-size: cover;
}

.Project1__Hidden {
  background-color: rgb(113, 29, 26);
}

.Project2__Visible {
  background-image: url("../../Img//climbToTop.png");
  background-size: cover;
}

.Project2__Hidden {
  background-color: olive;
}

.proj3 {
  background-color: indianred;
  grid-row: span 2;
}

.proj4 {
  background-color: cornflowerblue;
  grid-column: span 2;
}

.proj5 {
  background-color: thistle;
}

.proj6 {
  background-color: goldenrod;
}
