.About__Header {
  padding: 75px 0 30px;
  /* background-color: #ff6d6d; */
  background-color: #1c8cdb;
  color: whitesmoke;
}

.Heading__Main {
  margin: 0;
  font-size: 2.5em;
}

.Heading__Secondary {
  margin: 0;
}

.About__Body {
  width: 80%;
  margin: 0 auto;
  padding: 75px 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

.Section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Selfie {
  float: left;
  border: 1px solid black;
  width: 30%;
  border-radius: 100%;
}

.AboutMe__Content {
  width: 65%;
}

@media (max-width: 1200px) {
  .About__Body {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .About__Body {
    padding: 25px 0;
  }

  .Section1 {
    flex-direction: column;
  }

  .Selfie {
    width: 45%;
    margin: 10px 0;
  }

  .AboutMe__Content {
    width: 100%;
    text-align: center;
  }
}
