.About__Header {
  padding: 75px 0 50px;
  /* background-color: #ff6d6d; */
  background-color: #1c8cdb;
  color: whitesmoke;
}

.Heading__Main {
  margin: 0;
  font-size: 2.5em;
}

.Heading__Secondary {
  margin: 0;
}

.About__Body {
  padding: 75px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Selfie {
  float: left;
  border: 1px solid black;
  width: 30%;
  border-radius: 100%;
}

.AboutMe__Content {
  width: 65%;
  font-size: 1.5em;
  line-height: 1.5em;
}
